---
// import Button from "../components/Button.astro"
// import CardService from "../components/CardService.astro"
// import CardWorks from "../components/CardWorks.astro"
// import TitlePage from "../components/TitlePage.astro"

import Menu from "../components/Menu.astro"
import Button from "../components/Button.astro";

const Card = "div";
const Content = "div"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<!-- <h1>Astro</h1>
		<Button title="boton">Boton</Button>
		<CardService title="titulo" desc="desc" />
		<CardWorks title="titulo" img="images/work1.jpg" desc="desc" />
		<TitlePage title="titulo" subtitle="subtitile" /> -->
		<Menu />

		<div class="absolute w-full min-h-screen">
			<div class="absolute z-0 top-0 w-full h-1/2 bg-cover bg-bottom pt-20 px-12 bg-gradient-to-r from-c-dark-gray to-c-ligth-cyan"></div>
		</div>
	<Card class="relative z-10 flex min-h-screen h-auto justify-center items-center">
		<Content class="relative z-20 bg-c-white md:flex p-12 shadow-lg rounded-lg w-full max-w-4xl sm:w-4xl mx-4 ">
			<div class="sm:flex flex-col py-1 md:pr-10">
				<!-- <h2 class="text-lg mb-3">Hola, soy</h2> -->
				<h1 class="text-5xl font-bold text-c-dark-gray mb-6">David Tapias</h1>
				<p class="text-xl">
					Ingeniero de sistemas con énfasis en desarrollo web full-stack, <strong class="text-c-dark-gray">8 años de experiencia</strong> construyendo soluciones web para empresas de diferentes mercados. <br>Apasionado por los viajes, la naturaleza y el origami.
				</p>
				<Button text="Descargar CV" link=""></Button>
			</div>
			<img src="../images/about/perfil.png" alt="image" class="flex-shirnk-0 w-80 rounded-full border-6 border-white shadow-md">
		</Content>
	</Card>
	</body>
</html>
