---
import Menu from "../components/Menu.astro";
import TitlePage from "../components/TitlePage.astro";
import Project from "../components/Project.astro";
---

<Menu></Menu>
<!-- bg-gradient-to-r from-c-dark-gray to-c-ligth-cyan -->
<section class="bg-gradient-to-r from-c-dark-gray to-c-ligth-cyan pt-10 pb-20 mb-10 px-8">
    <div class="max-w-7xl mx-auto">

    <Project >

    </Project>

        
    </div>
</section>
