---
import Menu from "../components/Menu.astro";
import TitlePage from "../components/TitlePage.astro";
import CardWorks from "../components/CardWorks.astro";
import GeneralHeader from "../components/GeneralHeader.astro";

---

<head>
	<GeneralHeader></GeneralHeader>
    <title>David Tapias - Proyectos</title>
</head>

<Menu></Menu>
<section class="bg-gradient-to-r from-c-dark-gray to-c-ligth-cyan pt-10 pb-20 mb-10 px-8">
    <div class="max-w-7xl mx-auto">
        <TitlePage title="Proyectos" subtitle=""></TitlePage>
        <!-- Éstos son algunos proyectos con diferentes enfoques en los que he trabajado. -->
        <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2  gap-4">
            <CardWorks title="Automatización de SMS" image="../images/projects/lenguaje-para-automatizacion/lenguaje-para-automatizacion.png" desc="Automatización en la gestión de SMS a través de la creación de un 'lenguaje' basado en llaves, operadores lógicos y diccionarios." link="automatizacion-de-sms">
            </CardWorks>
            <!-- <CardWorks title="Objetos virtuales de aprendizaje" image="images/work2.jpg" desc="Desarrollo de más de 20 OVAs (Objetos Virtuales de Aprendizaje) para reutilizarlos e integrarlos a diferentes cursos virtuales.">
            </CardWorks> -->
            <CardWorks title="Panel de administración" image="../images/projects/panel-de-administracion/panel-de-administracion-login.png" desc="Integración de todas las plataformas de la empresa a través de API's, para hacer seguimiento de pagos y gestión técnica." link="panel-de-administracion">
            </CardWorks>
            <CardWorks title="Tienda para pyme" image="../images/projects/tienda-para-pyme/tienda-para-pyme.png" desc="Despliegue y personalización de tienda para distribuidora de frutas y verduras." link="tienda-para-pyme">
            </CardWorks>
            <CardWorks title="Página web a la medida" image="../images/projects/pagina-web-a-la-medida/pagina-web-a-la-medida.png" desc="Desarrollo web a la medida para dar presencia en internet a locutor nacional." link="pagina-web-a-la-medida">
            </CardWorks>
            <CardWorks title="MVP mensajería de voz" image="../images/projects/mvp-mensajeria-de-voz/mvp-mensajeria-de-voz.png" desc="Aplicación piloto para hacer envío grupal de mensajes de voz." link="mvp-mensajeria-de-voz">
            </CardWorks>
        </div>
    </div>
</section>
