---
import Menu from "../components/Menu.astro";
import TitlePage from "../components/TitlePage.astro";
import CardWorks from "../components/CardWorks.astro";
import GeneralHeader from "../components/GeneralHeader.astro";
import SubtitlePage from "../components/SubtitlePage.astro";



---
<html lang="es">
<head>
	<GeneralHeader></GeneralHeader>
    <title>David Tapias - Proyectos</title>
</head>

<Menu></Menu>
<section class="bg-gradient-to-r from-c-dark-gray to-c-ligth-cyan pt-10 pb-20 lg:pb-10 lg:pt-20  px-4">
    <div class="max-w-7xl mx-auto">
        <TitlePage title="Proyectos" subtitle=""></TitlePage>
        <!-- Éstos son algunos proyectos con diferentes enfoques en los que he trabajado. -->
         <div class=" grid grid-cols-1 sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-4  gap-4">
            <div></div>
        <div></div>

        </div>

    <!-- <SubtitlePage subtitle="Laborales"></SubtitlePage>
       imageMb = "../images/projects/automatizacion-web-md.png" 
         imageMb="../images/projects/panel-de-administracion-login-md.png"
       -->
     <div class="flex-row mt-4 mb-4">
        <a href="/proyectos" class='w-10 bottom-4 right-4 px-6 py-2 bg-c-black text-sm font-bold text-c-white border hover:text-c-dark-yellow rounded-md'> Laborales</a>
        <a href="/proyectosPersonales" class='bottom-4 right-4 px-6 py-2 bg-c-black text-sm font-bold text-c-white   hover:text-c-dark-yellow rounded-md'>Personales</a>
    </div>
        <div class=" grid grid-cols-1 2xl:grid-cols-2 xl:grid-cols-2 lg:grid-cols-2 md:grid-cols-2  gap-4">
            <CardWorks title="Automatización web" image="../images/projects/automatizacion-web.png" 
          
            desc="Generación de scripts con ChatGPT y automatización de Core Web Vitals con Selenium (python) y lighthouse." link="/proyectos/automatizacion-web">
            </CardWorks>
            <CardWorks title="Panel de administración" image="../images/projects/panel-de-administracion/panel-de-administracion-login.png" 
          
            desc="Integración de todas las plataformas de la empresa a través de API's, para hacer seguimiento de pagos y gestión técnica." link="/proyectos/panel-de-administracion">
            </CardWorks>
            <CardWorks title="MVP mensajería de voz" image="../images/projects/mvp-mensajeria-de-voz.png" desc="Aplicación piloto para hacer envío grupal de mensajes de voz." link="/proyectos/mvp-mensajeria-de-voz">
            </CardWorks>
            <CardWorks title="Tienda para pyme" image="../images/projects/tienda-para-pyme.png" desc="Despliegue y personalización de tienda para distribuidora de frutas y verduras." link="/proyectos/tienda-para-pyme">
            </CardWorks>
            
            <CardWorks title="Automatización de SMS" image="../images/projects/automatizacion-de-sms.png" desc="Automatización en la gestión de SMS a través de la creación de un pseudolenguaje basado en llaves, operadores lógicos y diccionarios." link="/proyectos/automatizacion-de-sms">
            </CardWorks>
         

            
            <CardWorks title="Objetos virtuales de aprendizaje" image="../images/projects/ovas.png" desc="Desarrollo de más de 20 OVAs (Objetos Virtuales de Aprendizaje) para reutilizarlos e integrarlos a diferentes cursos virtuales." link="/proyectos/ovas">
            </CardWorks> 

            <CardWorks title="SEO on page" image="../images/projects/seo-on-page.png" desc="SEO on page y mejoras de usabilidad para página web de condominios." link="/proyectos/seo-on-page"></CardWorks>
            
            <CardWorks title="Página web a la medida" image="../images/projects/pagina-web-a-la-medida.png" desc="Desarrollo web a la medida para dar presencia en internet a locutor nacional." link="/proyectos/pagina-web-a-la-medida">
            </CardWorks>
        </div>
</section>

<script>
</script>
</html>