---
import Menu from "../components/Menu.astro";
import TitlePage from "../components/TitlePage.astro";
import CardPersonalWorks from "../components/CardPersonalWorks.astro";
import GeneralHeader from "../components/GeneralHeader.astro";
import SubtitlePage from "../components/SubtitlePage.astro";

let linkDefault = "../images/projects/panel-de-administracion/panel-de-administracion-login.png";
---
<html lang="es">
<head>
	<GeneralHeader></GeneralHeader>
    <title>David Tapias - Proyectos - Personales</title>
</head>

<Menu></Menu>
<section class="bg-gradient-to-r from-c-dark-gray to-c-ligth-cyan pt-10 pb-20 mb-10 px-4 h-dvh">
    <div class="max-w-7xl mx-auto">
        <TitlePage title="Proyectos" subtitle=""></TitlePage>
        <!-- Éstos son algunos proyectos con diferentes enfoques en los que he trabajado. -->
         <div class=" grid grid-cols-1 sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-4  gap-4">
            <div></div>
        <div></div>

        </div>

    <!-- <SubtitlePage subtitle="Personales"></SubtitlePage> -->
    <div class="flex-row mt-4 mb-4">
        <a href="/proyectos" class='w-10 bottom-4 right-4 px-6 py-2 bg-c-black text-sm font-bold text-c-dark-yellow'> Laborales</a>
        <a href="/proyectosPersonales" class='bottom-4 right-4 px-6 py-2 bg-c-black text-sm font-bold text-c-white'>Personales</a>
    </div>


    <!-- <SubtitlePage subtitle="Personales"></SubtitlePage> -->
         <div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2  gap-4">
            <CardPersonalWorks id="ppad" title="Página web con wordpress" image="../images/projects/wordpress-tema.png" desc="Desarrollo web con wordpress, creando un tema de prueba, para entender el flujo y funcionamiento de wordpress." link="/proyectos/wordpress-tema">
            </CardPersonalWorks>
    </div>
</section>


<script>

window.addEventListener('DOMContentLoaded', function() {

    let linkDefault = "../images/projects/panel-de-administracion/panel-de-administracion-login.png";
    let ppad = document.querySelector("#ppad>img");
    isBreakpointMD();

   function isBreakpointMD() {
    return window.matchMedia('(min-width: 1024px)').matches;
  }

  function updateLinkBasedOnScreenSize() {
  
        if (isBreakpointMD()) {
            linkDefault =  "../images/projects/panel-de-administracion-login.png"; 
            ppad.setAttribute("src",linkDefault);
            } else {
             linkDefault =  "../images/projects/panel-de-administracion-login-md.png";
            ppad.setAttribute("src",linkDefault);
            }   
  }
  updateLinkBasedOnScreenSize();
  window.addEventListener('resize', updateLinkBasedOnScreenSize);
})
</script>
</html>