---
export interface props{
     link:string,
   
}
let {link} = Astro.props;
---
<style scoped>
     a{
          z-index: 2 !important;
     } 
</style>

<a href={link} class="rounded-full border-6 bg-c-black text-c-dark-yellow py-4 px-4 shadow-md w-10 fixed h-10 top-20 right-10"><i class="fa-solid fa-arrow-left absolute text-2xl top-1/2 right-1/2 my-[-12px] mx-[-10px]"></i></a>