---
export interface props{
    subtitle:string;
    description:string;
}

const {subtitle,description} = Astro.props;
---

<div class="relative bg-c-white rounded-md shadow-md ">
    <div class="p-6 ">
        <h3 class="font-bold text-2xl text-c-dark-gray">Problema</h3>
        <article class="p-2 text-c-black text-1xl whitespace-pre-line"><p>{description}</p></article>
    </div>
</div>