---
export interface props {
  images:Array<string>,
  mobile:boolean
}
const {images, mobile} = Astro.props;
---

<!-- Contenedor principal de Swiper -->
<div class="swiper">
    <!-- Wrapper adicional requerido -->
    <div class="swiper-wrapper">
      <!-- Los slides -->

      {images.map((img) => (
      <div class="swiper-slide">
          <img src={img} alt="" />
      </div>
         ))}
      
    </div>
    <!-- Botones de navegación -->
    <div class="swiper-button-prev absolute"></div>
    <div class="swiper-button-next absolute"></div>
  </div>


  <script>
    import Swiper from 'swiper';
    import 'swiper/css';
    import { Navigation } from "swiper/modules";
    import "swiper/css/navigation";

    document.addEventListener('astro:page-load', () => {
      const initSwiper = new Swiper(".swiper", {
        modules: [Navigation], // definir los módulos a usar
        loop: false,            // definir si los slides estarán en bucle
        slidesPerView: 1,      // agregar número de slides para la pantalla
        spaceBetween: 8,      // separación entre slides en px
        navigation: {          // definir botones next y prev para el módulo Navigation
          prevEl: ".swiper-button-prev",
          nextEl: ".swiper-button-next",
          }
        });
    }, { once: false });

  </script>

<style>
    .swiper-slide {
        margin-top: 2rem;
        height: auto; 
      border-radius: 10px;
      overflow: hidden;
    }
    .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: content;
    }

    .swiper-button-prev {
      align-self:flex-end !important ;
      background-color: #000;
      color: #fff;
      position: absolute;
      top: 60% !important;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      
    }

.swiper-button-next {
    background-color: #000;
    position: absolute;
    top: 60% !important;
      color: #fff;

    border-radius: 50%;
    width: 34px;
    height: 34px;
}

.swiper-button-prev:after, .swiper-button-next:after
{
  font-size: 16px;
  font-weight: bold;
}

.swiper-button-prev:after{
  margin-left: -2px;

} 

.swiper-button-next:after{
  margin-left: 2px;

}

@media screen and (width >= 48rem) { 
  .swiper-button-prev{
    top:55% !important;
  }
  .swiper-button-next{
      top:55% !important;
  }


}

    
  </style>