---
const menu = "fixed bg-c-black  z-20 top-0  right-0 left-0  space-x-6 lg:space-x-20  text-center font-bold uppercase tracking-wide text-c-dark-yellow py-4 ";
import '@fortawesome/fontawesome-free/css/all.css';
---
<div class={menu}>
    <a href="/" class="hover:text-c-dark-yellow text-c-white">
        <i class="fa-solid fa-user text-xl mx-2"></i><span class="md:inline hidden">sobre mi</span></a>
    <a href="/experiencia/" class="hover:text-c-dark-yellow text-c-white ">
        <i class="fa-solid fa-briefcase text-xl mx-2"></i><span class="md:inline hidden">experiencia</span></a>
    <a href="/proyectos/" class="hover:text-c-dark-yellow text-c-white ">
        <i class="fa-solid fa-list-check text-xl mx-2"></i><span class="md:inline hidden">proyectos</span></a>
    <a href="/habilidades/" class="hover:text-c-dark-yellow text-c-white ">
        <i class="fa-solid fa-brain text-xl mx-2"></i><span class="md:inline hidden">habilidades</span></a>
    <a href="https://wa.me/+573178870859" target="_blank" class="hover:text-c-dark-yellow text-c-white ">
        <i class="fa-brands fa-whatsapp text-2xl mx-2"></i><span class="md:inline hidden">contacto</span></a>
</div>
<!-- https://wa.me/+573014257368 -->