---
export interface props{

    subtitle:string;
}

const {subtitle} = Astro.props 
---

<div class="py-4">
    <h3 class="text-3xl font-bold text-c-dark-gray mx-4" >{subtitle}</h3>
    <!-- <p class="pt-2 text-c-white"> {subtitle} </p> -->
</div>