---
export interface props{
    title:string;
    subtitle:string;
}

const {title, subtitle} = Astro.props 
---

<div class="md:p-5 p-3 text-center ">
    <h1 class="lg:text-5xl text-4xl  font-bold text-c-white" >{title}</h1>
    <p class="pt-2 text-c-white"> {subtitle} </p>
</div>