---
import Menu from "../../components/Menu.astro";
import TitlePage from "../../components/TitlePage.astro";
import Gallery from "../../components/Gallery.astro";
import CardProblem from "../../components/CardProblem.astro";
import CardSolution from "../../components/CardSolution.astro";

import CardAchievements from "../../components/CardAchievements.astro";
import CardTools from "../../components/CardTools.astro";
import CardTeam from "../../components/CardTeam.astro";
import CardCompanyLogo from "../../components/CardCompanyLogo.astro";
import CardYear from "../../components/CardYear.astro";
import ButtonBack from "../../components/ButtonBack.astro";
import GeneralHeader from "../../components/GeneralHeader.astro";

const logoCompany = "/images/companies/logoSmartAutomationSystems.png";

const metronic = "/images/skills/technical/metronic.png";
const jquery = "/images/skills/technical/jquery.png";
const mysql = "/images/skills/technical/mysql.png";
const php = "/images/skills/technical/php.png";
const linux = "/images/skills/technical/linux.png";
const debian = "/images/skills/technical/debian.png";
const s3 = "/images/skills/technical/s3.png";
const css3 = "/images/skills/technical/css3.png";
const javascript = "/images/skills/technical/javascript.png";
const paypal = "/images/skills/technical/paypal.png";
const gitlab = "/images/skills/technical/gitlab.png";
const polly = "/images/skills/technical/polly.png";
const postman = "/images/skills/technical/postman.png";
const lumen = "/images/skills/technical/lumen.png";
const swagger = "/images/skills/technical/swagger.png";




const baseGallery = "/images/projects/mvp-mensajeria-de-voz/";

const imgGallery = [
    baseGallery+"mvp-mensajeria-de-voz.png",
    baseGallery+"mvp-mensajeria-de-voz-tts.png", 
    baseGallery+"mvp-mensajeria-de-voz-difusiones-pendientes.png",
    baseGallery+"mvp-mensajeria-de-voz-historial-difusiones.png",
    baseGallery+"mvp-mensajeria-de-voz-creditos.png",
    baseGallery+"mvp-mensajeria-de-voz-creditos-csv-contactos.png",
    baseGallery+"mvp-mensajeria-de-voz--recuperacion-de-contrasenas.png",
];

---

<head>
	<GeneralHeader></GeneralHeader>
    <title>David Tapias - Proyectos - Automatización de SMS</title>
</head>
<Menu></Menu>
<section class="bg-gradient-to-r from-c-dark-gray to-c-ligth-cyan pt-10 pb-20 mb-10 px-4 ">
    <div class="max-w-7xl mx-auto">

        <TitlePage title="Automatización de SMS" subtitle=""></TitlePage>
        <Gallery class="z-2 relative" images={imgGallery}>
        </Gallery>
        <!-- <ButtonProject text="Ver online" link="" ></ButtonProject> -->
        <div class="grid grid-cols-1 gap-2 sm:grid-cols-1 lg:grid-cols-1 mt-2">

        <div class="grid gap-2  sm:grid-cols-1  lg:grid-cols-[20%_auto]">
            <CardCompanyLogo  logo={logoCompany} companyName="Smart Automation Systems" ></CardCompanyLogo>
            <CardProblem description="El sistema de SMS recibe y envía miles de SMS al día, entre esos mensajes de entrada algunos demuestran interés o descontento por parte de los usuarios. Se requiere generar un sistema de automatización para crear autorespondedores con grupos de reglas para procesar los SMS, se deben procesar los SMS existentes y los SMS que van entrando en tiempo real. El sistema administra múltiples campañas, por lo que crear 1 autoresponder puede ser aplicado a N campañas, las acciones a ejecutar para cada SMS tienen una prioridad, y algunas pueden ser excluyentes, entonces el sistema debe evaluar dichas condiciones antes de crear la regla. Posteriormente se aplica un autoresponder a N campañas. De éste modo el grupo de reglas se escribe una vez y puede ser aplicado a N campañas."></CardProblem>
        </div>

        <div class="grid grid-cols-1 gap-2  lg:grid-cols-2  ">
           
            <CardSolution  description= "Se creó un pseudolenguaje haciendo uso de llaves y cruce de diccionarios, con el cual se pueden crear múltiples reglas, éstos diccionarios ayudan a identificar las posibles palabras que puede contener el SMS y así determinar qué acciones ejecutar. Se crearon varias interfaces gráficas, para crear diccionarios, para crear reglas, para crear variables que puede contener un mensaje, para crear varios autorespondedores, para visualizar las campañas y aplicar un autoresponder, un visualizador para ver la sintaxis del pseudolenguaje y la salida para ser aplicable como regla, entre otros. Para el procesamiento de los mensajes existentes en la DB, se trabajó con el DevOps para hacer procesamiento de SMS por lotes y un visualizador de cuántos mensajes estaban siendo procesados y cuántos faltaban."></CardSolution>


        <div class="grid grid-cols-1 gap-2  lg:grid-cols-1  lg:grid-rows-1">
            <CardAchievements list={["Se redujo el tiempo de forma considerable al cambiar un proceso manual por uno automatizado.", "Se redujo el número de SMS basura.", "Se reclasificaron registros viejos de la DB."]} ></CardAchievements>

            <div class="grid grid-cols-1  gap-2 lg:grid-cols-2  lg:grid-rows-1">
                <CardTeam  team={["DevOps."]}></CardTeam>
               <CardYear year="2019"></CardYear>

            </div>
        </div>
        
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-1">
                <CardTools tools={[
                    {
                        "name":"Linux", "image":linux
                    },
                    {
                        "name":"Metronic", "image":metronic
                    },
                    {
                        "name":"javaScript", "image":javascript
                    },
                    {
                        "name":"jQuery", "image":jquery
                    },
                    {
                        "name":"PHP", "image":php
                    }, 
                    {
                        "name":"MySQL", "image":mysql
                    },
                    {
                        "name":"GitLab", "image":gitlab
                    } 
                ]}>

                </CardTools>
           </div>
            </div>
    </div>
</section>

<ButtonBack link="/proyectos/"></ButtonBack>
