---
import Menu from "../../components/Menu.astro";
import TitlePage from "../../components/TitlePage.astro";

---
<Menu></Menu>
<section class="bg-gradient-to-r from-c-dark-gray to-c-ligth-cyan pt-10 pb-20 mb-10 px-8">
    <div class="max-w-7xl mx-auto">
        <TitlePage title="MVP mensajería de voz" subtitle="Éstos son algunos proyectos en los que he trabajado"></TitlePage>
        

        Requerimientos: 
            Se requiere una aplicación piloto para hacer mensajería de voz grupal, desde la aplicación se debe poder grabar audios, cargar archivos de audio ó generar Text to Speech. Agregación de números telefónicos manualmente o por .csv, envío del mensaje máximo a 50 números telefónicos. 
            Cargo de créditos con paypal.

        Solución:
            Al ya conocer la librería metronic se decide usar en la parte del front-end. Para dar más posibilidades a futuro (si se decide usar como aplicación móvil nativa, si se quiere integrar una de las funcionalidades a las plataformas existentes), se realiza una API basada en lumen 8 , para el TTS se hace uso de AWS Polly, adminisración de archivos de audio con AWS S3, y una librería JavaScript existente para la grabación de voz.
            
            
        Herramientas:
            1. Metronic (Bootstrap)
            2. CSS3
            3. JavaScript
            4. JQuery
            5. Lumen 8
            6. PHP 
            7. Swagger
            8. Postman
            9. AWS Polly
            10. AWS S3
            11. Linux
            12. Botón de pago Paypal
           
        Equipo de trabajo:
            * Gestor de proyectos.
            * Desarrollador de software.
            * Diseñador gráfico.

    </div>
</section>