---
import Menu from "../../components/Menu.astro";
import TitlePage from "../../components/TitlePage.astro";
import CardProblem from "../../components/CardProblem.astro";
import CardSolution from "../../components/CardSolution.astro";

import CardAchievements from "../../components/CardAchievements.astro";
import CardTools from "../../components/CardTools.astro";
import CardTeam from "../../components/CardTeam.astro";
import CardCompanyLogo from "../../components/CardCompanyLogo.astro";
import CardYear from "../../components/CardYear.astro";
import Button from "../../components/Button.astro";
import ButtonBack from "../../components/ButtonBack.astro";
import GeneralHeader from "../../components/GeneralHeader.astro";

const logoCompany = "/images/companies/logoEstratco.png";
const jquery = "/images/skills/technical/jquery.png";
const css3 = "/images/skills/technical/css3.png";
const html5 = "/images/skills/technical/html5.png";
const javascript = "/images/skills/technical/javascript.png";


---
<head>
	<GeneralHeader></GeneralHeader>
    <title>David Tapias - Proyectos - objetos virtuales de aprendizaje</title>
</head>
<Menu></Menu>
<section class="bg-gradient-to-r from-c-dark-gray to-c-ligth-cyan pt-10 pb-20 mb-10 px-4 ">
    <div class="max-w-7xl mx-auto">

        <TitlePage title="Objetos virtuales de aprendizaje" subtitle=""></TitlePage>
     
        <div class="grid grid-cols-1 gap-2 sm:grid-cols-3 ">
        <Button text="Tarjetas" ico="external" target="external"  link="https://davidtapias.com/proyectos/ovas/tarjetas" ></Button>
            <Button text="Persiana horizontal" ico="external" target="external"  link="https://davidtapias.com/proyectos/ovas/persianaHorizontal" ></Button>
            <Button text="Slider parallax" ico="external" target="external"  link="https://davidtapias.com/proyectos/ovas/sliderParalaxh" ></Button>
        </div>


        <div class="grid grid-cols-1 gap-2 sm:grid-cols-1 lg:grid-cols-1 mt-2">

        <div class="grid gap-2  sm:grid-cols-1  lg:grid-cols-[20%_auto]">
            <CardCompanyLogo  logo={logoCompany} companyName="Estratco" ></CardCompanyLogo>
            <CardProblem description="En la empresa se desarrollan múltiples cursos para capacitar al personal de diferentes entidades gubernamentales (UGPP, Supersalud, Colpensiones, etc...), los temas en general son bastante densos de explicar, por tal motivo se busca una estrategia más amigable para presentar los contenidos. Se requieren propuestas de elementos gráficos e interactivos para ser agregados a cualquiera de los cursos. Como prerequisito para tomar los cursos, es el uso de un PC y no dispositivos móviles, por lo que no es necesario que sean responsive. Algunos cursos pueden ser entregados en un CD o USB y en casos particulares también deberían poder verse sin conexión a internet. "></CardProblem>
        </div>

        <div class="grid grid-cols-1 gap-2  lg:grid-cols-2  ">
           
            <CardSolution  description= "Aprovechando las teconologías web, tales como API's de HTML5, canvas, animaciones CSS3 y los eventos javaScript (click, drag and drop, hover, etc.), se implementaron más de 20 OVA's para utilizarlos en cualquier curso y adaptarlos a diferentes contenidos de acuerdo a la temática que se iba a explicar. Técnicamente se usaron sólo teconologías front-end para ser ejecutados en un navegador sin importar la conexión a internet."></CardSolution>


        <div class="grid grid-cols-1 gap-2  lg:grid-cols-1  lg:grid-rows-1">
            <CardAchievements list={["Se optimizó el tiempo en la construcción de contenidos interactivos.", "Se ampliaron las alternativas para desglosar temáticas densas de explicar." ]} ></CardAchievements>

            <div class="grid grid-cols-1  gap-2 lg:grid-cols-2  lg:grid-rows-1">
                <CardTeam  team={["Gestora de proyectos.","Pedagoga.","Diseñadores gráficos."]}></CardTeam>
               <CardYear year="2017"></CardYear>

            </div>
        </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-1">
                <CardTools tools={[
                   
                    {
                        "name":"HTML5", "image":html5
                    },
                    {
                        "name":"CSS3", "image":css3
                    },
                    
                    {
                        "name":"javaScript", "image":javascript
                    },
                    {
                        "name":"jQuery", "image":jquery
                    }
                ]}>
                </CardTools>
           </div>
            </div>
    </div>
</section>

<ButtonBack link="/proyectos/"></ButtonBack>
