---
import Menu from "../../components/Menu.astro";
import TitlePage from "../../components/TitlePage.astro";

---
<Menu></Menu>
<section class="bg-gradient-to-r from-c-dark-gray to-c-ligth-cyan pt-10 pb-20 mb-10 px-8">
    <div class="max-w-7xl mx-auto">
        <TitlePage title="Página web a la medida" subtitle="Éstos son algunos proyectos en los que he trabajado"></TitlePage>
        


        Requerimientos: 
            Un locutor requiere una página web para mostrar su trabajo, darse a conocer en internet y obtener clientes potenciales, el cliente (agencia de publicidad) ya tiene el diseño y material para la creación de la web.
            Se solicita diseñar reproductores de audio y video a la medida.

            Solución:
            Siguiendo el diseño planteado y al ser una web más informativa, se decide trabajar con los lenguajes puros, una librería para animar y las funcionalidades de la API de audio de HTML5. 


            Herramientas:
            1. HTML5
            2. CSS3
            3. JavaScript
            4. JQuery
            5. PHP 
            6. Youtube
           
            Equipo de trabajo:
            * Diseñador gráfico.

            Nicho de mercado.
            * Agencia de publicidad.
        
    </div>
</section>