---
import Menu from "../../components/Menu.astro";
import TitlePage from "../../components/TitlePage.astro";
import Gallery from "../../components/Gallery.astro";
import CardProblem from "../../components/CardProblem.astro";
import CardSolution from "../../components/CardSolution.astro";

import CardAchievements from "../../components/CardAchievements.astro";
import CardTools from "../../components/CardTools.astro";
import CardTeam from "../../components/CardTeam.astro";
import CardCompanyLogo from "../../components/CardCompanyLogo.astro";
import CardYear from "../../components/CardYear.astro";
import ButtonBack from "../../components/ButtonBack.astro";
import GeneralHeader from "../../components/GeneralHeader.astro";

const logoCompany = "/images/companies/logoSmartAutomationSystems.png";

const metronic = "/images/skills/technical/metronic.png";
const jquery = "/images/skills/technical/jquery.png";
const mysql = "/images/skills/technical/mysql.png";
const woocommerce = "/images/skills/technical/woocommerce.png";
const square = "/images/skills/technical/square.png";
const php = "/images/skills/technical/php.png";
const linux = "/images/skills/technical/linux.png";
const debian = "/images/skills/technical/debian.png";
const baseGallery = "/images/projects/panel-de-administracion/";

const imgGallery = [
    baseGallery+"panel-de-administracion-login.png",
    baseGallery+"panel-de-administracion.png", 
    baseGallery+"panel-de-administracion-productos-clientes.png",
    baseGallery+"panel-de-administracion-proceso-ordenes-fallido.png",
    baseGallery+"panel-de-administracion-proceso-ordenes.png",
    baseGallery+"panel-de-administracion-pagos.png",

];

---
<head>
	<GeneralHeader></GeneralHeader>
    <title>David Tapias - Proyectos - panel de administración</title>
</head>
<Menu></Menu>
<section class="bg-gradient-to-r from-c-dark-gray to-c-ligth-cyan pt-10 pb-20 mb-10 px-4 ">
    <div class="max-w-7xl mx-auto">

        <TitlePage title="Panel de administración" subtitle=""></TitlePage>
        <Gallery class="z-2 relative" images={imgGallery}>
        </Gallery>
        <!-- <ButtonProject text="Ver online" link="" ></ButtonProject> -->
        <div class="grid grid-cols-1 gap-2 sm:grid-cols-1 lg:grid-cols-1 mt-2">

        <div class="grid gap-2  sm:grid-cols-1  lg:grid-cols-[20%_auto]">
            <CardCompanyLogo  logo={logoCompany} companyName="Smart Automation Systems" ></CardCompanyLogo>
            <CardProblem description="La empresa ofrece más de 5 plataformas propias relacionadas con SMS y voz para campañas de callcenter, dichas plataformas trabajan por separado ya que ofrecen diferentes funcionalidades, éstas dependen de la disponibilidad de saldo y no hay un control centralizado para saber cuánto dinero ha cargado un cliente y valor del saldo disponible por cada plataforma. Dependiendo del ritmo de consumo de la campaña y para asegurar la alta disponibilidad, se deben direccionar algunos clientes a servidores AWS de mayor capacidad y éste tipo de configuración se hace de forma manual, generando algunos conflictos de configuración en varias ocasiones."></CardProblem>
        </div>

        <div class="grid grid-cols-1 gap-2  lg:grid-cols-2  ">
           
            <CardSolution  description= "Se desarrolló un panel de administración, donde se conectaron todas las API's y agregando lógica de negocio se pudo mejorar la administración de pagos y temas técnicos de todos los servicios. Se configuraron algunos cronJobs para el monitoreo del funcionamiento de las API's. Se agregó un seguimiento a las órdenes de pago, desglosadas por producto y puntos de seguimiento en cada transacción por cada plataforma. Se solicitó a cada uno de los desarrolladores de las plataformas la creación de una API que retornara los datos que se necesitaban. "></CardSolution>


        <div class="grid grid-cols-1 gap-2  lg:grid-cols-1  lg:grid-rows-1">
            <CardAchievements list={["Se mejoró el monitoreo del funcionamiento de las plataformas.", "Se mejoró el tiempo de direccionamiento de clientes a otras réplicas de API .", "Se redujo el tiempo en conocer el saldo actual por cada cliente y producto." ]} ></CardAchievements>

            <div class="grid grid-cols-1  gap-2 lg:grid-cols-2  lg:grid-rows-1">
                <CardTeam  team={["Gestor de proyectos", "Desarrolladores de software", "DevOps"]}></CardTeam>
               <CardYear year="2023"></CardYear>

            </div>
        </div>
        
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-1">
                <CardTools tools={[
                    {
                        "name":"Debian 10", "image":debian
                    },
                    {
                        "name":"Linux", "image":linux
                    },
                    {
                        "name":"Metronic", "image":metronic
                    },
                    {
                        "name":"jQuery", "image":jquery
                    },
                    {
                        "name":"PHP", "image":php
                    }, 
                    {
                        "name":"MySQL", "image":mysql
                    },
                    {
                        "name":"API Woocommerce", "image":woocommerce
                    },
                    {
                        "name":"API Square", "image":square
                    } 
                ]}>
                </CardTools>
           </div>
            </div>
    </div>
</section>

<ButtonBack link="/proyectos/"></ButtonBack>
