---
import Menu from "../../components/Menu.astro";
import TitlePage from "../../components/TitlePage.astro";
import CardProblem from "../../components/CardProblem.astro";
import CardSolution from "../../components/CardSolution.astro";

import CardAchievements from "../../components/CardAchievements.astro";
import CardTools from "../../components/CardTools.astro";
import CardTeam from "../../components/CardTeam.astro";
import CardCompanyLogo from "../../components/CardCompanyLogo.astro";
import CardYear from "../../components/CardYear.astro";
import Button from "../../components/Button.astro";
import ButtonBack from "../../components/ButtonBack.astro";
import GeneralHeader from "../../components/GeneralHeader.astro";

const logoCompany = "/images/companies/logoYomercobien.png";
const jquery = "/images/skills/technical/jquery.png";
const woocommerce = "/images/skills/technical/woocommerce.png";
const php = "/images/skills/technical/php.png";
const css3 = "/images/skills/technical/css3.png";
const html5 = "/images/skills/technical/html5.png";
const wordpress = "/images/skills/technical/wordpress.png";
const cPanel = "/images/skills/technical/cPanel.png";
const phpSpreadsheet = "/images/skills/technical/phpSpreadsheet.png";


---
<head>
	<GeneralHeader></GeneralHeader>
    <title>David Tapias - Proyectos - tienda para pyme</title>
</head>
<Menu></Menu>
<section class="bg-gradient-to-r from-c-dark-gray to-c-ligth-cyan pt-10 pb-20 lg:pb-10 lg:pt-20  px-4 ">
    <div class="max-w-7xl mx-auto">

        <TitlePage title="Tienda para pyme" subtitle=""></TitlePage>
     
        <Button text="Ver online" ico="external" target="external"  link="https://yomercobien.com" ></Button>
        <div class="grid grid-cols-1 gap-2 sm:grid-cols-1 lg:grid-cols-1 mt-2">

        <div class="grid gap-2  sm:grid-cols-1  lg:grid-cols-[20%_auto]">
            <CardCompanyLogo  logo={logoCompany} companyName="Smart Automation Systems" ></CardCompanyLogo>
            <CardProblem description=" Se requiere una tienda virtual para la venta de frutas y verduras en Bogotá, método de pago contra entrega y generación de recibos para imprimir cada pedido. Para gestionar la compra de los productos de los clientes se debe crear una tabla en un archivo excel donde se especifican los clientes, productos y cantidades. Comprar dominio, crear correos corporativos y desplegar el proyecto en producción."></CardProblem>
        </div>

        <div class="grid grid-cols-1 gap-2  lg:grid-cols-2  ">
           
            <CardSolution  description= "Aprovechando las funcionalidades de WooCommerce, se toma como tecnología base, personalización con los respectivos colores, logo, e imágenes de la tienda, se agregan algunos fragmentos de código y configuración general de acuerdo a los requerimientos. Para la generación de recibos para imprimir, se hace una personalización y algunas modificaciones a un plugin exisitente. Se compra dominio y hosting con cPanel para despliegue del proyecto. "></CardSolution>


        <div class="grid grid-cols-1 gap-2  lg:grid-cols-1  lg:grid-rows-1">
            <CardAchievements list={["Se mejoró la experiencia de usuario para hacer pedidos.", "Se automatizó la creación de listados de compras."]} ></CardAchievements>

            <div class="grid grid-cols-1  gap-2 lg:grid-cols-2  lg:grid-rows-1">
                <CardTeam  team={["Proyecto llevado a cabo de forma individual."]}></CardTeam>
               <CardYear year="2021"></CardYear>

            </div>
        </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-1">
                <CardTools tools={[
                    {
                        "name":"Wordpress", "image":wordpress
                    },
                    {
                        "name":"Woocommerce", "image":woocommerce
                    },
                    {
                        "name":"HTML5", "image":html5
                    },
                    {
                        "name":"CSS3", "image":css3
                    },
                    {
                        "name":"jQuery", "image":jquery
                    },
                    {
                        "name":"PHP", "image":php
                    },
                    
                    {
                        "name":"phpSpreadSheet", "image":phpSpreadsheet
                    },
                    {
                        "name":"cPanel", "image":cPanel
                    }
                    
                ]}>
                </CardTools>
           </div>
            </div>
    </div>
</section>

<ButtonBack link="/proyectos/"></ButtonBack>
